{{> templates/components/headers/menu }}
<div class="comment">
    <h2>Страница не найдена</h2>
    <img src={{logo}} alt="" class="text_image" />
    <p class="text">
        {{{ errorText }}}
    </p>
    <span class="info">&nbsp;</span>
</div>
{{> templates/components/footers/footer }}