<form action="" method="post" encType="multipart/form-data">
            <div class="post">
                <h2>Вход в админку</h2>
                <img src={{logo}} alt="" class="text_image" />
                <input type="text" name="admin_name" maxLength=15 placeholder="Имя" /><br /><br />
                <input type="password" name="admin_password" maxLength=15 placeholder="Пароль" /><br/>
                <input type="submit" class="form_submit" value="Ok" />
                <div class="info">&nbsp;</div>
            </div>
</form>