{{> templates/components/headers/menu }}


<div class="post" id="c{{ postId }}">
{{postTitle}} {{{ postImg }}} <p>{{{ postText }}}</p>
<span class="info">Тред № {{postId}}
<a href="#" onclick="reply(this); return false">ответить</a>(<span id="ans">{{ postId }}</span>)
<span title="Редактировать" class="edit_image" onclick="edit_comment({{ postId }})">&nbsp;</span>
</span>
</div>
<div class="extra_setting" id="extra_setting"><a href="#footer" id="go_down">Вниз</a><span title="Хочу чтобы снизу"><b onclick="set_order(this, 'none');">Новые комментарии отображаются сверху</b></span></div>
<div id="new_comments">
<span title="Показать" class="show_image"  onclick="show_hide(this)"></span>

<script type="text/javascript">
post_id = {{ postId }}
last_comment_id = "";
order_comments = 1;
start_timer();
</script>
</div>



{{> templates/components/footers/footer }}