<div class="menu" id="header">
    <select>
        <option value="0" >Стили борды</option>
        <option value="none">Обычный</option>
        <option value="AtoX">AtoX</option>
        <option value="Neutron">Neutron</option>
    </select>
    <nav>
        <ul>
            <li><a href="/">Глагне</a></li>
            {{{ board }}}
            <li><a href="/galery" title="Галерея лучших изображений рунета и забугорья">Галерея</a></li>
            <li><a href="/all" title="Все треды и посты в одном потоке">Однопоток</a></li>
        </ul>
    </nav>
</div>