<footer id="footer">
    <a href="http://exachan.com/">
        <img src= {{ imageExachan }} alt="Эксачан" title="Эксачан" />
    </a>
    <a href="http://pravdorubs.ru/">
        <img src= {{ imagePravdorubs }} alt="Правдорубы" title="Правдорубы" />
    </a>
    <a href="http://exachan.com/exaba/">эксаба 1.0.0 for Go</a>
</footer>